<!--

    Copyright © ${project.inceptionYear} Instituto Superior Técnico

    This file is part of Fenix IST.

    Fenix IST is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Fenix IST is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Fenix IST.  If not, see <http://www.gnu.org/licenses/>.

-->

{% extends "fenixedu-units-theme/base.html" %}
{% import "fenixedu-units-theme/view.html" %}

{% block content %}
    <div id="search-container" class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." id="search-input">
            <span class="input-group-btn">
                <button id="search-btn" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <br/>
    </div>
    {% if pagination.pages is not empty %}

        {% for post in pagination.posts %}
            {{ viewPost(post) }}
            <hr />
        {% endfor %}
        {% include "fenixedu-units-theme/pagination.html" %}
    {% else %}
        <h4>Currently there are no posts.<h4/>
    {% endif %}

    <script type="application/javascript">
        $('#search-input').val(getParameterByName('q') || "");
        $('#search-input').on('keyup blur', onSearchInputChange);
        $('#search-btn').click(search);
        onSearchInputChange();

        if (isEmptyPosts()) {
            $('#search-container').hide();
        }

        $(document).keypress(function (e) {
            if (e.which == 13) search();
        });

        function search() {
            var searchQuery = $('#search-input').val();
            window.location.search = searchQuery ? '?q=' + searchQuery : '';
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(window.location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function onSearchInputChange() {
            $('#search-btn').prop('disabled', $('#search-input').val().trim().length == 0);
        }

        function isEmptyPosts() {
            return Boolean('{{ pagination.pages is empty }}') && getParameterByName('q').length == 0;
        }

    </script>

{% endblock content %}