<!--

    Copyright © ${project.inceptionYear} Instituto Superior Técnico

    This file is part of Fenix IST.

    Fenix IST is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Fenix IST is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Fenix IST.  If not, see <http://www.gnu.org/licenses/>.

-->
{% extends "fenixedu-units-theme/unitHomepage.html" %}

{% block unitHeader %}

{% if post is not empty %}
<div class="row">
	<div class="col-md-12">
		<div class="banner">

			<a href="{{ link is not empty ? link : '#' }}">
				<img class="img-responsive center-block" src="{{ mainImage }}" alt="banner">
			</a>

			<div class="clearfix"></div>
		</div>
	</div>
	<style>
		.banner {
			width: 100%;
			float: left;
		background-color: {{ color }};
		/*background-image: url('{{ backgroundImage }}');*/
		background-repeat: {{ repeatType }};
		}
	</style>
</div>
{ % endif %}

{% if site.description is not empty %}
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="introduction">
				{{ site.description.content | raw }}
			</div>
		</div>
	</div>
{% endif %}

{% endblock unitHeader %}